{% extends 'layouts/app.twig' %}

{% block js %}
    <script>
        $(function() {
            var $roles = $('#roles').selectize({
                plugins: ['remove_button'],
                closeOnSelect: true,
            });
            
            App.initForm();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ __('Modifying User') }}
        </div>
        <div class="card-body">
            <form id="form" action="{{ path_for('users.update', {user: user.id}) }}" method="post" autocomplete="off">
                {{ csrf_field() }}
                
                <input type="hidden" name="_METHOD" value="PUT">

                {% include 'users/partials/form.twig' %}
            </form>
        </div>
    </div>
{% endblock %}
