$font-family-sans-serif:      "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-size-base:              0.8125rem !default;

$web-font-path: "https://fonts.googleapis.com/css?family=Open+Sans:400,700" !default;
@import url($web-font-path);
