<p>
    ¡Hola {{ task.responsible.firstname }}!
</p>

<p>
    Una tarea a la que fuiste asignado/a ha sido eliminada:
</p>

<ul>
    <li>Acción: {{ task.action.code }}</li>
    <li>Medida: {{ task.number }}</li>
    <li>Descripción: {{ task.description }}</li>
</ul>
