<p>
    ¡Hola {{ maintenance.responsible.firstname }}!
</p>

<p>
    Se completó la inspección de la orden de mantenimiento {{ maintenance.code }}.
</p>

<a href="{{ base_url() }}{{ path_for('maintenance.view', {maintenance: maintenance.id}) }}">
    Mostrar
</a>
