<p>
    ¡Hola {{ task.responsible.firstname }}!
</p>

<p>
    Una acción a la que fuiste asignado/a ha sido eliminada:
</p>

<ul>
    <li>{{ task.risk.code }}</li>
    <li>Número: {{ task.number }}</li>
    <li>Descripción: {{ task.description }}</li>
</ul>
