{% extends 'layouts/app.twig' %}

{% block js %}
    <script>
        function config() {
            return {
                url: '{{ path_for('customers.store') }}',
                model: {
                    code: '',
                    name: '',
                },
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div id="app" x-data="{ ...form(), ...config() }">
        <div class="card">
            <div class="card-header">
                {{ __('New Customer') }}
            </div>
            <div class="card-body">
                <form @submit.prevent="submit()" autocomplete="off">
                    {% include 'customers/partials/form.twig' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
