{% extends 'layouts/app.twig' %}

{% block js %}
    <script>
        $(function() {
            App.initForm();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ __('Modifying Customer') }}
        </div>
        <div class="card-body">
            <form id="form" action="{{ path_for('customers.update', {customer: customer.id}) }}" method="post" autocomplete="off">
                {{ csrf_field() }}
                
                <input type="hidden" name="_METHOD" value="PUT">

                {% include 'customers/partials/form.twig' %}
            </form>
        </div>
    </div>
{% endblock %}
