{% extends 'layouts/app.twig' %}

{% block js %}
    <script>
        $(function() {
            $('#form').ajaxForm();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ __('Creating Product/Service') }}
        </div>
        <div class="card-body">
            <form id="form" action="{{ path_for('products.store') }}" method="post" autocomplete="off">
                {{ csrf_field() }}
                
                {% include 'products/partials/form.twig' %}
            </form>
        </div>
    </div>
{% endblock %}
