{% extends 'layouts/app.twig' %}

{% block js %}
    <script>
        $(function() {
            $('#form').ajaxForm();
            $('#form').find('.input-group.date').datepicker();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ __('Modifying Indicator') }}
        </div>
        <div class="card-body">
            <form id="form" action="{{ path_for('indicators.update', {indicator: indicator.id}) }}" method="post" autocomplete="off">
                {{ csrf_field() }}
                
                <input type="hidden" name="_METHOD" value="PUT">

                {% include 'indicators/partials/form.twig' %}
            </form>
        </div>
    </div>
{% endblock %}
