{% extends 'layouts/app_blank.twig' %}

{% block content %}
    <h2>No tiene permisos para realizar esta acción</h2>
    <a href="{{ path_for('home') }}">
        Ir al inicio
    </a>
{% endblock %}
