{% extends 'layouts/app.twig' %}

{% block js %}
    <script>
        $(function() {
            $('#form').ajaxForm();
            $('#form').find('.input-group.date').datepicker();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {{ __('Modifying Non Conformity') }}
        </div>
        <div class="card-body">
            <form id="form" action="{{ path_for('nonconformities.update', {nonconformity: nonconformity.id}) }}" method="post" autocomplete="off">
                {{ csrf_field() }}
                
                <input type="hidden" name="_METHOD" value="PUT">

                {% include 'nonconformities/partials/form.twig' %}
            </form>
        </div>
    </div>
{% endblock %}
